.blog {
  background-color: #19223e;
  min-height: 50rem;
  width: 100%;
  padding-top: 3rem;
}
.blogpost {
  border: #eb7133 3px solid;
  width: 100%;
  height: 30rem;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.blogpost:hover {
  cursor: pointer;
  border: #f7f7f7 3px solid;
  transition-duration: 0.5s;
}
.blogpost .imgContainer {
  border: 1px solid red;
  height: 25rem;
  width: 45%;
}
.blogpost .textbox {
  height: 25rem;
  width: 45%;
  padding-right: 3rem;
  color: #f7f7f7;
}
.blogpost Button {
  float: right;
}
