.contact {
  width: 100%;
  min-height: 40rem;
  padding: 0;
  display: flex;
}
.contact .leftContainer {
  width: 50%;
  background-color: #f7f7f7;
  min-height: 40rem;
  padding: 4rem;
  padding-left: 6rem;
  color: #19223e;
  position: relative;
}
.contact .leftContainer p {
  color: #19223e;
}
.contact form {
  width: 100%;
}
.contact .inputGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact .inputRow {
  width: 100%;
}
.contact label {
  width: 100%;
  display: block;
  padding-left: 0.2rem;
}
.contact input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  display: block;
  border: none;
}
.contact textarea {
  width: 100%;
  max-width: 100%;
  font-family: "Montserrat";
  padding: 0.5rem;
  padding-bottom: 3rem;
  border: none;
  border-radius: 4px;
}
.contact Button {
  position: absolute;
  right: 4rem;
}
.contact .rightContainer {
  border: #eb7133 1px solid;
  width: 50%;
  min-height: 30rem;
}
.contact .submit {
  background-color: #19223e;
  color: #f7f7f7;
  width: 50%;
  font-family: "Montserrat";
  font-weight: 500;
}
