.homepage {
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
}
.linearGradient {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 34rem;
  background: linear-gradient(
    to bottom,
    rgba(20, 13, 4, 0.8) 20%,
    rgba(70, 58, 44, 0.5) 82%,
    rgba(247, 247, 247, 1) 100%
  );
}
.heroText {
  position: absolute;
  top: 8rem;
  left: 6rem;
  z-index: 2;
}
.heroText h1 {
  line-height: 2.5rem;
  color: #f7f7f7;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 20);
}
.aboutUs {
  min-height: 35rem;
  display: flex;
  background-color: #f7f7f7;
}
.aboutUs h2 {
  color: #140d04;
  transition-duration: 1s;
}
.aboutUs ul {
  transform: translateX(-2rem);
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}
.aboutUs li {
  min-width: 9rem;
  text-align: center;
}
.aboutUs span {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2px;
  font-family: "Montserrat";
  color: #19223e;
}
.aboutUs span:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
.aboutUs .leftContainer {
  width: 100%;
  position: relative;
  padding-right: 0 7rem;
}
.aboutUs .leftContainer .line {
  width: 5rem;
  height: 2px;
  background-color: #eb7133;
  position: absolute;
  top: 2.5rem;
  left: 0rem;
  transition-duration: 0.5s;
}
.aboutCard {
  padding-top: 1rem;
  width: 85%;
}
.aboutUs .rightContainer {
  width: 35%;
  overflow: hidden;
  max-height: 19rem;
  align-items: center;
}
.aboutUs .rightContainer img {
  margin: 4rem 0 2rem 4rem;
  width: 100%;
}
.aboutUs Button {
  position: absolute;
  right: 3rem;
  bottom: 0rem;
}
.imgDivider {
  width: 100%;
  height: 20rem;
}
.ourServicesContainer {
  background-color: transparent;
  overflow: visible;
  width: 100%;
  height: auto;
  position: relative;
}
.ourServicesContainer .imgContainer {
  position: sticky;
  top: 0.7vh;
  z-index: 0;
  max-height: 30rem;
}
.ourServicesContainer img.outline {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 30rem;
}
.ourServicesContainer .imgContainer .imgContainerCrop {
  width: 100%;
  max-height: 30rem;
  overflow: hidden;
}
.ourServicesContainer .imgContainer .imgContainerCrop img {
  height: 30rem;
}
.ourServicesContainer img {
  object-fit: fill;
  width: 100vw;
}
.ourServices {
  width: 100%;
  min-height: 60rem;
  padding-bottom: 10rem;
  text-align: right;
  color: #f7f7f7;
  position: relative;
  background-color: #19223e;
}
.ourServicesContainer .headerbg {
  position: absolute;
  min-height: 10rem;
  padding: 2rem;
  width: 100%;
  z-index: 1;
  top: 19rem;
  border: red 1px solid;
  text-align: right;
  padding-right: 5rem;
  color: grey;
  background-color: #19223e;
}
.ourServices h2 {
  transform: translateY(-18rem);
  position: absolute;
}
.ourServices .content {
  width: 100%;
  min-height: 40rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0rem;
  position: relative;
  z-index: 2;
}
.serviceCard {
  width: 18rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  /* transform: translateY(-3.5rem); */
}
.serviceCardoffsetY {
  width: 18rem;
  height: 20rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 3rem;
  transform: translateY(3.5rem);
  position: relative;
  border-radius: 4px;
}
.serviceCard .information,
.serviceCardoffsetY .information {
  width: 100%;
  background-color: #140d04;
  opacity: 90%;
  height: 15rem;
  position: absolute;
  bottom: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  padding: 2rem;
  padding-top: 0rem;
  text-align: left;
  color: white;
}
.serviceCard Button,
.serviceCardoffsetY Button {
  float: right;
}

.ourQualifications {
  width: 100%;
  display: flex;
}
.ourQualifications .leftContainer {
  width: 40%;
}
.ourQualifications .rightContainer {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
  padding-top: 3rem;
}
.certificateContainer {
  width: 10rem;
  align-items: center;
  margin: 0 1rem;
}
.ourQualifications .image {
  width: 100%;
  background-size: cover;
  height: 12rem;
}
.industriesServed {
  background-color: #19223e;
  width: 100%;
  min-height: 30rem;
  display: flex;
  justify-content: space-between;
}
.industriesServed h2 {
  color: #f7f7f7;
}
.industriesServed .leftContainer {
  width: 50%;
  min-height: 20rem;
  padding: 0 1rem;
}
.industriesServed .rightContainer {
  width: 45%;
  min-height: 20rem;
}
.industriesServed .rightContainer iframe {
  width: 100%;
  height: 100%;
}

.industryCardRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.industryCard {
  width: 50%;
  color: #f7f7f7;
  display: flex;
}
.industryCard .icon {
  width: 30%;
  height: 100%;
}
.industryCard .title {
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
}
.industryCard .textbox {
  width: 100%;
  min-height: 5rem;
  padding-left: 1rem;
}
.recentArticles {
  width: 100%;
  min-height: 35rem;
}
.recentArticles h2 {
  width: 100%;
  line-height: 0;
}
.recentArticles .articles {
  display: flex;
}
.recentArticles .leftContainer,
.recentArticles .rightContainer {
  width: 50%;
  min-height: 20rem;
  padding: 2rem;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.test {
  height: 1000px;
}
