.services {
  background-color: #19223e;
  position: relative;
}

.servicesContainer {
  width: 100%;
  min-height: 38rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 5px;
}
.serviceTile {
  padding-top: 1rem;
  width: 12.5%;
  height: fit-content;
  text-align: center;
  font-weight: 400;
  background-color: #f7f7f7;
}
.serviceTile h4 {
  font-weight: 500;
  line-height: 0.5rem;
  color: #140d04;
}
.serviceTile:hover {
  cursor: pointer;
}
.serviceTile p:hover {
  cursor: pointer;
  font-weight: 500;
}
.serviceSlide {
  width: 100%;
  min-height: 34.5rem;
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  display: flex;
}
.serviceSlide .leftContainer,
.serviceSlide .rightContainer {
  width: 50%;
  height: 100%;
  padding: 2rem;
}
.serviceSlide .line {
  width: 30%;
  height: 3px;
  background-color: #163b8a;
}
.serviceSlide .textbox {
  width: 100%;
  height: fit-content;
  padding: 2rem 1rem 2rem 0;
  display: flex;
}
.serviceSlide .image {
  width: 95%;
  max-height: 12rem;
  overflow: hidden;
  margin: 1rem;
}
.services button {
  position: absolute;
  z-index: 1;
  top: 24rem;
  border-radius: 60%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border: none;
  background-color: #163b8a;
  color: #f7f7f7;
  font-size: 1.2rem;
  font-weight: 100;
  font-stretch: ultra-condensed;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 10);
}
.services button:hover {
  cursor: pointer;
}
.services .leftArrow {
  left: 3.75rem;
}
.services .rightArrow {
  right: 3.65rem;
}
.qualityPolicies {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 30rem;
  display: flex;
}

.qualityPolicies .leftContainer {
  width: 50%;
  min-height: 20rem;
}
.policy {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.policy .circle {
  border-radius: 50%;
  width: 8%;
  height: auto;
  text-align: center;
  margin: 1.5rem 1rem;
  border: none;
  background-color: #eb7133;
  font-size: 1.2rem;
  font-weight: 100;
  font-stretch: ultra-condensed;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 10);
}
.policy .circle p {
  color: #140d04;
  font-weight: 600;
}
.policy .textbox {
  width: 85%;
}
.qualityPolicies .rightContainer {
  width: 50%;
  border: blue 1px solid;
  min-height: 20rem;
}
